<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>商品名</th>
      <th>商品ID</th>
      <th>商品説明文</th>
      <th>税抜価格</th>
      <th>販売ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td></td>
        <td><%= link_to item.name, admin_item_path(item.id) %></td>
        <%#<td><%= image_tag @items.item_image(80,80) %>
        <td><%= item.genre_id %></td>
        <td><%= item.introduction %></td>
        <td><%= item.price%></td>
        <td>
          <% if item.is_active == true %>
            <p class="text-success ">販売中</p>
            <% else %>
            <p class="text-secondary ">販売停止中</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>