<div class="container">
  <div class="row text-center">
    <div class="col-md-12 mt-5">
      <h2>商品新規登録画面</h2>
    </div>
  </div>
  <div class="row my-5 d-flex justify-content-center">
    <div class="col-xs-12">
      <%= form_with model: @item, url: admin_items_path, method: :post, local: true do |f| %>
      <div>
        <table>
          <tr>
            <div class="form-group">
              <th><%= f.label "商品名" %></th>
              <td><%= f.text_field :name, placeholder:"商品名" %></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <th><%= f.label "商品画像" %></th>
              <td><%= f.file_field :image, placeholder:"商品画像" %></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <th><%= f.label :ジャンル, class:"form_label" %></th>
              <td><%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--選択してください--",class:"form-select" %></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <th><%= f.label "商品説明文" %></th>
              <td><%= f.text_area:introduction, placeholder:"ここに説明文を記述します" %></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <th><%= f.label "税抜価格" %></th>
              <td><%= f.text_field :price %></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <th><%= f.label "販売ステータス" %></th>
              <td>
                <%= f.radio_button :is_active, true, checked: true %>
                <%= f.label :is_active, "販売中" %>
                <%= f.radio_button :is_active, false %>
                <%= f.label :is_active, "販売停止中" %>
              </td>
            </div>
          </tr>
          <tr>
              <div class="form-action">
                <th><%= f.submit "新規登録", class:"btn btn-success" %></th>
              </div>
              </tr>
            <% end %>
        </table>
      </div>
    </div>
  </div>
</div>