<h1>商品新規登録画面</h1>
<%= form_with model: @item, url: new_admin_item_path, method: :patch, local: true do |f| %>
<div>
  <table>
    <tr>
        <div class="form-group">
          <th><%= f.label "商品名" %></th>
          <td><%= f.text_field :name, placeholder:"商品名" %></td>
        </div>
      </tr>
      <th>
        <div class="form-group">
          <th><%= f.label "商品説明文" %></th>
          <td><%= f.text_field :text, placeholder:"ここに説明文を記述します" %></td>
        </div>
      </th>
      <th>
        <div class="form-group">
          <th><%= f.label "税抜価格" %></th>
          <td><%= f.text_field :price %></td>
        </div>
      </th>
      <th>
        <div class="form-group">
          <th><%= f.label "販売ステータス" %></th>
          <td><%= f.text_field :is_active %></td>
        </div>
      </th>
    </tr>
  </table>
</div>
<% end %>