    <div class="container">
      <h1>会員情報編集</h1>
        <div class="row my-5 d-flex justify-content-center">
          <div class="col-xs-12">

              <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch, local: true do |f| %>
              <table>
                <tr>
                  <div class="form_group">
                    <%= f.label :会員ID %>
                    <%= @customer.id %>
                  </div>
                </tr>
                <tr>
                  <div class="form_group">
                    <%= f.label :"氏名" %>
                    <%= f.text_field :last_name %>
                    <%= f.text_field :first_name %>
                  </div>
                </tr>
                <tr>
                  <div class="form_group">
                    <%= f.label :"フリガナ" %>
                    <%= f.text_field :last_name_kana %>
                    <%= f.text_field :first_name_kana %>
                  </div>
                </tr>
                <tr>
                  <div class="form_group">
                    <%= f.label :"メールアドレス" %>
                    <%= f.email_field :email %>
                  </div>
                </tr>
                <tr>
                  <div class="form_group">
                    <%= f.label :"郵便番号" %>
                    <%= f.text_field :postal_code %>
                  </div>
                </tr>
                <tr>
                  <div class="form_group">
                    <%= f.label :"住所" %>
                    <%= f.text_field :address %>
                  </div>
                </tr>
                <tr>
                  <div class="form_group">
                    <%= f.label :"電話番号" %>
                    <%= f.text_field :telephone_number %>
                  </div>
                </tr>
                <tr>
                  <div class="form-group">
                    <%= f.label :会員ステータス, class:"form_label" %>
                    <%= f.radio_button :is_deleted, false %>
                  　<%= f.label :is_deleted, "有効"%>
                  　<%= f.radio_button :is_deleted, true %>
                  　<%= f.label :is_deleted, "退会" %>
                  </div>
                </tr>
                </table>
                <div class="form-group">
                  <%= f.submit "変更を保存", class: "btn btn-success" %>
                  <%= link_to "会員詳細へ戻る",admin_customer_path, class:"btn btn-outline-secondary" %>
                </div>
              <% end %>


          </div>
        </div>
      </div>
    </div>