<h1>会員情報編集</h1>
  <h2><%= last_name(@customer)%>さんの会員情報編集</h2>

  <table>
    <%= form_with model: @customer do |f| %>
      <tr>
        <div class="form_group">
          <%= f.label :"会員ID" %>
          <%= f.text_field :id %>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <%= f.label :"氏名" %>
          <%= f.text_field :last_name %>
          <%= f.text_field :first_name %>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <%= f.label :"フリガナ" %>
          <%= f.text_field :last_name_kana %>
          <%= f.text_field :first_name_kana %>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <%= f.label :"メールアドレス" %>
          <%= f.email_field :email %>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <%= f.label :"郵便番号" %>
          <%= f.text_field :postal_code %>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <%= f.label :"住所" %>
          <%= f.text_field :address %>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <%= f.label :"電話番号" %>
          <%= f.text_field :telephone_number %>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <%= f.label :退会ステータス, class:"form_label" %>
          <%= f.collection_select :customer_id, Customer.all, :id, :name, :prompt => "--選択してください--",class:"form-select" %>
        </div>
      </tr>
      <div class="form-group">
        <%= f.submit "会員情報更新" %>
        <%= link_to "会員詳細へ戻る",admin_customer_path(customer.id) %>
      </div>
    <% end %>
  </table>