<h1>会員情報編集</h1>


  <table>
    <%= form_with model: @customer, url: admin_customer_path do |f| %>
      <tr>
        <div class="form_group">
          <%= f.label :"会員ID" %>
          <%= f.text_field :id %>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <%= f.label :"氏名" %>
          <%= f.text_field :last_name %>
          <%= f.text_field :first_name %>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <%= f.label :"フリガナ" %>
          <%= f.text_field :last_name_kana %>
          <%= f.text_field :first_name_kana %>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <%= f.label :"メールアドレス" %>
          <%= f.email_field :email %>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <%= f.label :"郵便番号" %>
          <%= f.text_field :postal_code %>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <%= f.label :"住所" %>
          <%= f.text_field :address %>
        </div>
      </tr>
      <tr>
        <div class="form_group">
          <%= f.label :"電話番号" %>
          <%= f.text_field :telephone_number %>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <%= f.label :会員ステータス, class:"form_label" %>
          <%= f.radio_button :is_deleted, false %>
        　<%= f.label :is_deleted, "有効"%>
        　<%= f.radio_button :is_deleted, true %>
        　<%= f.label :is_deleted, "退会" %>
        </div>
      </tr>
      <div class="form-group">
        <%= f.submit "会員情報更新", class: "btn btn-success" %>
        <%= link_to "会員詳細へ戻る",admin_customer_path, class:"btn btn-outline-secondary" %>
      </div>
    <% end %>
  </table>