<div class="container takasa">
  <div class="row">
    <div class="col-xs-12">
      <h2>注文履歴詳細</h2>
      <!-- 購入詳細情報 -->
      <table>
       <tr>
        <th>購入者</th>
        <td><%= @order.name %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>〒<%= @order.postal_code %> <%= @order.address %><br><%= @order.name %></td>
      </tr>
      <tr>
        <th>支払い方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      </table>
    </div>
  </div>
  <div>
    <div class=" col-xs-9">
      <table class="table ">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <%  @order_detail.each do |order_detail| %><!--注文した商品の履歴一覧をeachで表示　-->
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.with_tax_price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= ((order_detail.item.with_tax_price) * (order_detail.amount)) %> </td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="total">
     <h4>商品合計<%= @order.total_amount %>円</h4>
     <h4>送料<%= 800 %>円</h4>
     <h4>請求金額合計<%= (@order.total_amount.to_i + 800) %>円</h4>
    </div>
  </div>

</div>