<div class="container">
  <h1>注文履歴詳細</h1>
  <div class="row">
    <div class="col">
      <br><p>注文情報</p>
      <table class="table table-bordered table-condensed">
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime("%Y年%m月%d日") %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            〒<%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %>
          </td>
        <tr>
        </tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
      </table>
    </div>
    <div class="col">
      <br><p>請求情報</p>
      <table class="table table-bordered table-condensed">
        <tr>
          <td>商品合計</td>
          <th><%= @total %>円</th>
        </tr>
        <tr>
          <td>配送料</td>
          <th>800円</th>
        </tr>
        <tr>
          <td>ご請求額</td>
          <th><%= @order.total_amount %>円</th>
        </tr>
      </table>
    </div>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th>商品名</th>
        <th>単価</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
      <tr>
        <% @order.order_details.each do |order_detail| %>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.item.with_tax_price %>円</td>
          <td><%= order_detail.amount %>個</td>
          <td><%= order_detail.subtotal %>円</td>
      </tr>
        <% end %>
    </table>

      <%= link_to "注文履歴一覧へ戻る", orders_path, class: "btn btn-info btn-lg order-index-back" %>
    </div>
  </div>